@font-face { font-family: Roboto-Black; src: url('Roboto-Black.ttf'); }
@font-face { font-family: Roboto-Regular; src: url('Roboto-Regular.ttf'); }
@font-face { font-family: Roboto-Thin; src: url('Roboto-Thin.ttf'); }

body {
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           
}

.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

#backGround {
    background-color: #000000;
    background-image: url(../src/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: 6s ease-in-out start-show-bg;
    opacity: .5;
}
@keyframes start-show-bg {
    0% { opacity: 0; }
    20%{ opacity: 1; }
    80% { opacity: 1; }
    100%{ opacity: .3; } 
}

#logo {
    position: relative;
    top: -15%;
    max-width: 480px;
    width: 80%;
    animation: 4.8s ease-in-out 1.2s start-show-logo;
    opacity: 0;
}
#logo img {
    width: 100%;
    height: auto;
}
#logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -5%;
    width: 60%;
    height: 100%;
    background-image: url(../src/images/chat-logo-text.png);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
    background-size: 100%;
}
@keyframes start-show-logo {
    0% { opacity: 0;}
    25%{ opacity: 1; }
    75%{ opacity: 1; }  
    100%{ opacity: 0; } 
}

#connection {
    position: relative;
    text-align: right;
    font-size: 30px;
    padding: 10px 30px 0 0;
    font-family: Roboto-Black;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    background-color: #000000;
    display: none;
}
#connection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../src/images/connection.gif);
    background-repeat: no-repeat;
    background-position: top 10px left 15px;
    background-size: 40px;
}

#container {
    display: none;
    width: 80%;
    max-width: 1320px;
}

#avatarsTitle {
    text-align: center;
    font-size: 24px;
    padding: 10px 0 5px;
    text-shadow: 1px 3px 3px black;
}
#avatars {
    text-align: center;
}
#avatars img {
    width: 20%;
    max-width: 120px;
    margin: 4px;
    box-sizing: border-box;
    border: solid 2px #c7c7c7;
    border-radius: 20%;
    background-color: #000000;
}

#avatars .disable {
    filter: grayscale(1) brightness(.3);
}

#avatars .choose {
    border: solid 4px #00ff15;
}